@media screen and (min-width: 428px) {
  .team-container > .container {
    padding: 0;
  }

  .main-contain {
    max-width: 428px;
  }

  .advantages-item:not(:last-child) {
    margin-bottom: 72px;
  }

  .customers > .container {
    max-width: 398px;
  }
}

@media screen and (min-width: 768px) {
  .main-contain {
    max-width: 768px;
  }

  .main-contain-title {
    max-width: 496px;
    margin-bottom: 36px;
    font-size: 56px;
    line-height: 1.07;
  }

  .advantages-container {
    max-width: 736px;
  }

  .advantages-item {
    width: calc((100% - 24px) / 2);
  }

  .advantages-title {
    text-align: left;
  }

  .advantages-list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .advantages-item:not(:last-child) {
    margin-bottom: 0;
  }

  .team-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .team-item {
    width: calc((100% - 24px) / 2);
  }

  .team-item:not(:last-child) {
    margin-bottom: 0;
  }

  .team-container {
    width: 582px;
  }

  .customers-item {
    flex-basis: calc((100% - 48px) / 3);
  }

  .customers > .container {
    max-width: 552px;
  }

  .customers-list {
    column-gap: 24px;
  }

  .modal {
    max-width: 408px;
  }

  .footer-container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 108px;
    padding-right: 164px;
    text-align: left;
  }

  .footer-content {
    margin-right: 24px;
  }

  .subscribe-form {
    display: flex;
    gap: 24px;
  }
  .subscribe-lable {
    width: 264px;
    height: 40px;
  }

  .footer-container.container {
    width: 768px;
  }

  .mobile-menu-burger {
    display: none;
  }

  .header-list {
    display: contents;
    display: flex;
    gap: 40px;
  }

  .header-navigation {
    display: flex;
    align-items: center;
  }

  .header-item-contakt {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
  }
  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .header-address > .header-list {
    display: block;
  }
  .tablet:not(:last-child) {
    margin-bottom: 12px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  .main-contain {
    max-width: 1440px;
    padding-top: 188px;
    padding-bottom: 188px;
  }

  .main-contain-title {
    max-width: 496px;
    margin-bottom: 48px;
  }

  .advantages {
    padding: 120px 0;
  }
  .advantages-item {
    width: calc((100% - 72px) / 4);
  }

  .advantages-icon {
    width: 264px;
    height: 112px;
    background: var(--background-btn-kolor);
    border-radius: 4px;
    margin-bottom: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .advantages-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .advantages-list {
    gap: 24px;
  }

  .advantages-text {
    font-weight: 400;
  }

  .activity {
    display: contents;
  }

  .activity > .container {
    padding-bottom: 120px;
  }

  .team-list {
    display: flex;
    gap: 24px;
  }

  .team-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .customers-item {
    width: calc((100% - 120px) / 6);
  }

  .customers-list {
    flex-wrap: nowrap;
  }
  .footer-container.container {
    width: 1158px;
  }

  .footer-container {
    flex-wrap: nowrap;
    padding: 0;
  }
  .footer {
    padding: 100px 0;
  }

  .footer-content {
    margin-right: 120px;
    margin-bottom: 0;
  }
  .social {
    margin-right: 80px;
    margin-bottom: 0;
  }

  .header-item-contakt {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-main);
    padding: 24px 0;
    display: block;
    gap: 40px;
    transition: color var(--chang-conditions);
  }

  .header-address > .header-list {
    display: flex;
    gap: 40px;
  }

  .tablet:not(:last-child) {
    margin-bottom: 0;
  }
}
